/* width */
::-webkit-scrollbar {
    width: 13px;
    height: 13px;
}
/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #a2a2a2;
    border-radius: 10px;
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(41, 80, 143);
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background: rgb(23, 48, 90); 
}

/* Text Styling */
body{
    padding: 14px;
}
b{
    font-weight: 700;
}
i{
    font-style: italic;
}
