<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link 
    rel="stylesheet"
    href="https://fonts.googleapis.com/icon?family=Material+Icons"
    >
    <link rel="stylesheet" href="../resources/css/reset.css">
    <link rel="stylesheet" href="../resources/css/editor.css">
    <title>Verbum</title>
</head>
<body>
    <!-- Custom Header -->
    <header>

    </header>

    <!-- Tools -->
    <nav class="editor-tools">
        <ul>
            <li id="tool-bold">
                <i class="material-icons">format_bold</i>
            </li>
            <li id="tool-italic">
                <i class="material-icons">format_italic</i>
            </li>
            <li id="tool-underline">
                <i class="material-icons">format_underline</i>
            </li>
            <div>
                <li id="tool-minus">
                    <i class="material-icons">remove</i>
                </li>
                <span id="font-size-span"></span>
                <li id="tool-add">
                    <i class="material-icons">add</i>
                </li>
            </div>  
        </ul>
    </nav>

    <!-- Editor -->
    <section class="editor-area">
       <iframe
       id = "editor-iframe"
       name = "richTextField"
       >
       </iframe>
    </section>

    <!-- Scripts -->
    <script src="../resources/js/editor.js"></script>
</body>
</html>